#careerstable{
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  border-collapse: collapse;
}

#careershead td{
  border-bottom: 2px solid #CBDB58;
}

main{
  background-color: white;
  width: 600px;
  margin: 50px auto auto;
}

.border{
  border-bottom: 1px solid black;
}

.jobLink{
  color: gray;
  text-decoration: none;
}

.jobloc{
  color: gray;
}

.right{
  text-align: right;
  padding-right: 15px;
}
