{% set menu = 'main' %}
{% extends "base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='style/admin_list.css')}}">
{% endblock %}
{% block title %}- Admin Careers{% endblock %}
{% block menu1%}
<div id="menu1div">
  <span id="menu1text">Careers</span>
</div>
{% endblock %}
{% block content %}
<main>
  <table id="careerstable">
    <tr id="careershead">
      <td><p>Job Name</p></td>
      <td><p>Location</p></td>
      <td class="right"><a href="{{url_for('admin_careers_new')}}"><img src="/static/images/addbutton.png"></a></td>
    </tr>
    {% for job in jobs%}
    <tr>
      <td class="border"><a class="jobLink" href="/admin/careers/{{job.id}}">{{job.name}}</a></td>
      <td class="border"><span class="jobloc">{{job.loc}}</span></td>
      <td class="border right"><a  href="/admin/careers/delete/{{job.id}}"><img  class="DeleatA" src="/static/images/delete.png" height="20" width="20"></a></td>
    </tr>
    {% endfor %}
  </table>
</main>
{% endblock %}
{% block footer %}
{{ super() }}
{% endblock %}
