{% set menu = 'main' %}
{% set footermenu = 'false' %}
{% set page = 'admin' %}
{% extends "base.html" %}
{% block title %}- Admin{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <main>
    <h1>Welcome, {{ current_user.name }}</h1>
    <h3>This is the admin page.</h3>
    <form id="adminform" action="/admin" method="post">
      <label>
        <span>Select a location</span>
        <select name="loc_edit" id="loc_edit">
          <option disabled selected>Select a Location</option>
          <option>Louisville</option>
          <option>Evensville</option>
        <select>
      </label>
      <div id="edit_div" class="hidden">
        <ul>
          <li>
            <label>
              <span>Address:</span>
              <input type="text" name="edit_loc_address">
            </label>
          </li>
          <li>
            <label>
              <span>Fax:</span>
              <input type="text" name="edit_loc_fax">
            </label>
          </li>
          <li>
            <label>
              <span>Phone:</span>
              <input type="text" name="edit_loc_phone">
            </label>
          </li>
          <li>
            <label>
              <span>Email:</span>
              <input type="text" name="edit_loc_email">
            </label>
          </li>
          <li>
            <button type="submit" name="button">Update</button>
          </li>
        </ul>
      </div>
    </form>
  </main>
{% endblock %}
