{% set menu = 'main' %}
{% extends "base.html" %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block title %}- Admin Careers{% endblock %}
{% block content %}
  <main>
    <h1>Job Postings</h1>
    <a href="{{url_for('admin_careers_new')}}">+</a>
    <ul>
      {% for job in jobs%}
      <li><i class="cdi cdi-th-list"></i></i><a href="/admin/careers/{{job.id}}">{{job.name}}</a><span>{{job.loc}}</span><i class="cdi cdi-times-circle cdi-lg"></i></li>
      {% endfor %}
    </ul>
  </main>

{% endblock %}
{% block footer %}
  {{ super() }}
{% endblock %}
