{% set menu = 'main' %}
{% set selected = 'home' %}

{% extends "base.html" %}

{% block head %}
{{ super() }}
<link href={{url_for("static", filename="stylesheets/careers.css")}} rel="stylesheet">
{% endblock %}

{% block title %}Home{% endblock %}

{% block header %}
<ul id="ohdang">
  <li><i class="fa fa-facebook-official"></i></li>
  <li><i class="fa fa-google-plus-square"></i></li>
  <li><i class="fa fa-twitter-square"></i></li>
</ul>
<a href="home.html" title="Homepage" id="logo"><img src={{url_for("static", filename="images/abelson_logo.png")}}></a>
<nav>
  <ul id="nav">
    <li><a href="#about" title="About">About</a></li>
    <li><a href="#services" title="Services">Services</a></li>
    <li><a href="index.html#clients" title="Clients">Clients</a></li>
    <li><a href="index.html#locats" title="Locations">Locations</a></li>
    <li><a href="index.html#contact" title="Contact">Contact</a></li>
    <li><a href="#" title="Careers">Careers</a></li>
  </ul>
</nav>
{% endblock %}

{% block content %}
<section id="butwhy">
  <h1 class="sock">Career Opportunities</h1>
  <br>
  <div class="sock">
    <span>Call 917.756.8000 for more Information</span>
  </div>
</section>
<section id="contact">
  <h1 class="sock">
    Contact
  </h1>
  <div id="quiz">
  <form id="dropitlikeitshot" action="/careers/send" method="POST" enctype="multipart/form-data">
    <ul>
      <li>
        <label>
          <input type="text" placeholder="First Name" name="fname" id="firstname">
        </label>
        <label>
          <input type="text" placeholder="Last Name" name="lastname">
        </label>
      </li>
      <li>
        <label>
          <input type="email" placeholder="Email" name="email">
        </label>
        <label>
          <input type="text" placeholder="Phone Number" name="phone">
        </label>
      </li>
      <li>
        <label>
          <select name="position">
            <optgroup label="Louisville">
              {% for job in jobs %}
              {% if job.loc == 1 %}
              <option value ="1">{{job.name}}</option>
              {% endif %}
              {% endfor %}
            </optgroup>
            <optgroup label="Evansville">
              {% for job in jobs %}
              {% if job.loc == 2 %}
              <option value ="2">{{job.name}}</option>
              {% endif %}
              {% endfor %}
            </optgroup>
          </select>
        </label>
        <input type="file" name="application" accepts="application/pdf">
      </li>
      <label>
       <textarea placeholder="Comments" name="msg" rows="5" cols="42"></textarea>
      </label>
    </ul>
    <button type="submit">Submit</button>
  </form>
  </div>
</section>
{% endblock %}
{% block footer %}
<span id="copyright">
  Copyright &copy 2015 Ableson Mechanical. All rights reserved.
</span>
<ul id="icons">
  <li><i class="fa fa-facebook-official"></i></li>
  <li><i class="fa fa-google-plus-square"></i></li>
  <li><i class="fa fa-twitter-square"></i></li>
</ul>
<span id="bimg" align="right">
  Crafted by <span id="greenfoot">Big Idea Interactive Media</span>
</span>
{% endblock %}
