{% set menu = 'main' %}
{% extends "base.html" %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block title %}- Careers{% endblock %}
{% block content %}
  <main>
   {% for job in jobs %}
    <section>
            <span>{{job.name}}</span>
            <span>{{job.loc}}</span>
            <p>{{job.description}}</p>
    </section>
    {% endfor %}
    <form>
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <select>
        <optgroup label="loc 1">
          <option>job 1</option>
        </optgroup>
        <optgroup label="loc 2">
          <option>job 2</option>
        </optgroup>
      </select>
      <input type="file">
      <input type="text">
      <button type="submit">Send</button>
    </form>
  </main>
{% endblock %}
{% block footer %}
  {{ super() }}
{% endblock %}
