{% set menu = 'main' %}
{% set selected = 'home' %}

{% extends "base.html" %}

{% block head %}
{{ super() }}
<link href={{url_for("static", filename="stylesheets/index.css")}} rel="stylesheet">
{% endblock %}

{% block title %}Home{% endblock %}

{% block header %}
<ul id="ohdang">
  <li><i class="fa fa-facebook-official"></i></li>
  <li><i class="fa fa-google-plus-square"></i></li>
  <li><i class="fa fa-twitter-square"></i></li>
</ul>
<a href="#" title="Homepage" id="logo"><img src={{url_for("static", filename="images/abelson_logo.png")}}></a>
<nav>
  <ul id="nav">
    <li><a href="#about" title="About">About</a></li>
    <li><a href="#services" title="Services">Services</a></li>
    <li><a href="#clients" title="Clients">Clients</a></li>
    <li><a href="#locats" title="Locations">Locations</a></li>
    <li><a href="#contact" title="Contact">Contact</a></li>
    <li><a href="careers" title="Careers">Careers</a></li>
  </ul>
</nav>
{% endblock %}

{% block content %}
<section id="faclarge">
  <div id="jonlincon">
    <h2>Industrial Maintenance Specialists</h2>
      <div id="wottabottal">
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nutella quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa.</p>
       <br>
       <p> Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh.</p>
     </div>
  </div>
</section>
<section id="services">
  <h1 class="sock">
   Services
  </h1>
  <div id=pics>
    <img src={{url_for("static", filename="images/millwright.jpg")}}>
    <img src={{url_for("static", filename="images/welding.jpg")}}>
    <img src={{url_for("static", filename="images/rigging.jpg")}}>
    <img src={{url_for("static", filename="images/ductwork.jpg")}}>
    <img src={{url_for("static", filename="images/pipefitter.jpg")}}>
    <img src={{url_for("static", filename="images/fabrication.jpg")}}>
  </div>
 </section>
 <section id="clients">
   <h1 class="sock">
     Clients
   </h1>
   <div id="clientimages">
     <img src={{url_for("static", filename="images/lge.jpg")}} height="150" width="200" border="0">
     <img src={{url_for("static", filename="images/ford.jpg")}} height="150" width="200" border="0">
     <img src={{url_for("static", filename="images/ups.png")}} height="150" width="150" border="0">
     <img src={{url_for("static", filename="images/brown-forman.jpg")}} height="150" width="350" border="0">
     <img src={{url_for("static", filename="images/ge.png")}} height="150" width="150" border="0">
   </div>
     <blockquote id="blocksockknok">
       "Wow, they are pretty much not bad; they actually did the thing. What's more, they did it right good."
       <hr>
       <span>
         Spoderman - GE Industrial
       </span>
     </blockquote>
   </section>
   <div id="fade">
     <img src={{url_for("static", filename="images/fade.png")}}>
   </div>
   <section id="locats">
     <h1 class="sock">
       Locations
     </h1>
     <br>
     <div id="maps">
       {% for loc in locs %}
       <section>
         <h4>{{loc.name}}</h4>
         <iframe src={{loc.map}} width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
         <ul>
          <li><span>{{loc.address}}</span></li>
          <li><span>{{loc.name}} {{loc.state}} {{loc.zipcode}}</span></li>
          <li><span>Fax: {{loc.fax}}</span></li>
          <li><span>Phone: {{loc.phone}}</span></li>
          <li><span>Email: {{loc.email}}</span></li>
        </ul>
      </section>
      {% endfor %}
     </div>
   </section>
   <section id="contact">
     <h1 class="sock">
       Contact
     </h1>
     <div id="quiz">
     <form id="indexform" action="/contact" method="POST">
       <ul>
         <li>
           <label>
             <input type="text" placeholder="First Name" name="fname" id="firstname">
           </label>
           <label>
             <input type="text" placeholder="Last Name" name="lastname">
           </label>
         </li>
         <li>
           <label>
             <input type="email" placeholder="Email" name="email">
           </label>
           <label>
             <input type="text" placeholder="Phone Number" name="phone">
           </label>
         </li>
         <li>
           <label>
              <input type="text" placeholder="Company Name" name="company">
           </label>
           <label>
             <input type="text" placeholder="Industry" name="industry">
           </label>
          </li>
            <label>
            <textarea placeholder="Comments" name="msg" rows="5" cols="42"></textarea>
            </label>
          </li>
        </ul>
         <button type="submit">Submit</button>
     </form>
 </div>
</section>
{% endblock %}
{% block footer %}
<span id="copyright">
  Copyright &copy 2015 Ableson Mechanical. All rights reserved.
</span>
<ul id="icons">
  <li><i class="fa fa-facebook-official"></i></li>
  <li><i class="fa fa-google-plus-square"></i></li>
  <li><i class="fa fa-twitter-square"></i></li>
</ul>
<span id="bimg" align="right">
  Crafted by <span id="greenfoot">Big Idea Interactive Media</span>
</span>
{% endblock %}
