{% set menu = 'main' %}
{% set selected = 'home' %}
{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <main>
    <h1>Placeholder</h1>
    {% for loc in locs %}
        <section>
         <h4>{{loc.name}}</h4>
         <span>{{loc.map}}</span>
         <span>{{loc.address}}</span>
         <span>{{loc.fax}}</span>
         <span>{{loc.phone}}</span>
         <span>{{loc.email}}</span>
        </section>
    {% endfor %}
    <form>
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <select name="location">
        <option>loc 1</option>
        <option>loc 2</option>
      </select>
      <input type="text"></input>
      <button type="submit">Send</button>
    </form>
  </main>
{% endblock %}
{% block footer %}
  {{ super() }}
{% endblock %}
