{% set menu = 'main' %}
{% set selected = 'home' %}
{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <main>
    <h1>Placeholder</h1>
    <section>
      <h4>Location 1</h4>
      <span>Map</span>
      <span>address</span>
      <span>fax</span>
      <span>phone</span>
      <span>email</span>
    </section>
    <section>
      <h4>Location 2</h4>
      <span>Map</span>
      <span>address</span>
      <span>fax</span>
      <span>phone</span>
      <span>email</span>
    </section>
    <form>
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <select name="location">
        <option>loc 1</option>
        <option>loc 2</option>
      </select>
      <input type="text"></input>
      <button type="submit">Send</button>
    </form>
  </main>
{% endblock %}
{% block footer %}
  {{ super() }}
{% endblock %}
