{% set menu = 'main' %}
{% set footermenu = 'false' %}
{% set page = 'admin' %}
{% extends "base.html" %}
{% block title %}- Admin{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <main>
    <h1>Welcome, {{ current_user.name }}</h1>
    <h3>This is the admin page. You can set up anything on the website from here.</h3>
    <hr>
    <p>Hello, {{current_user.name}} this is your new settings page! Pretty much. Anyways, from here on all changes will effect the entire website, so please be careful!<br>We have a fallback alternative if everything breaks, but I would rather not initiate that program.</p>
    <hr>
  </main>
{% endblock %}
