{% set menu = 'main' %}
{% set footermenu = 'false' %}
{% set page = 'admin' %}
{% extends "base.html" %}
{% block title %}- Admin{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <main>
    <h1>Welcome, {{ current_user.name }}</h1>
    <h3>This is the admin page. You can set up anything on the website from here.</h3>
    <hr>
    <p>Hello, {{current_user.name}} this is your new settings page! Pretty much. Anyways, from here on all changes will effect the entire website, so please be careful!<br>We have a fallback alternative if everything breaks, but I would rather not initiate that program.</p>
    <hr>
    <form id="adminform" action="/admin" method="post">
      <label>
        <span>Select a location</span>
        <select id="loc_edit" name="loc_edit">
          <option disabled selected>Select a Location</option>
          <option>Louisville</option>
          <option>Evensville</option>
        <select>
      </label>

      <div id="edit_div" class="hidden">
      <label>
        <span>Address:</span>
          <input type="text" name="edit_loc_address">
      </label>
      <label>
        <span>Fax:</span>
        <input type="text" name="edit_loc_fax">
      </label>
      <label>
        <span>Phone:</span>
        <input type="text" name="edit_loc_phone">
      </label>
      <label>
        <span>Email:</span>
        <input type="text" name="edit_loc_email">
      </label>
        <button type="submit" name="button">Update</button>
      </div>
    </form>

  </main>
{% endblock %}
