{% set menu = 'main' %}
{% set footermenu = 'false' %}
{% set page = 'admin' %}
{% extends "base.html" %}
{% block title %}- Admin{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <main>
    <h1>Welcome, {{ current_user.name }}</h1>
    <h3>This is the admin page. You can set up anything on the website from here.</h3>
    <hr>
    <p>Hello, {{current_user.name}} this is your new settings page! Pretty much. Anyways, from here on all changes will effect the entire website, so please be careful!<br>We have a fallback alternative if everything breaks, but I would rather not initiate that program.</p>
    <hr>
    <select id="careers_edit">
      <option>Louisville</option>
      <option>Evensville</option>
    <select>
    <input type="text" id="edit_loc_address">
    <input type="text" id="edit_loc_fax">
    <input type="text" id="edit_loc_phone">
    <input type="text" id="edit_loc_email">
    <input type="text" id="edit_loc_name">
  </main>
{% endblock %}
