{% set menu = 'main' %}
{% block title %}- Creers{% endblock %}
{% block content %}
  <main>
    <section>
      <span>job 1</span>
      <span>location</span>
      <p>Lorem ipsum dolor sit amet, te meliore dissentias vis, nam putant verear appetere ex, est ex nisl consulatu. Pro verear aliquip in, pri fabellas aliquando eloquentiam an. An facete omittantur consectetuer eos, pro no affert assentior persequeris, et denique forensibus sea. Eam ut oporteat voluptaria, ei latine scripta nec, te aliquip noluisse torquatos sea. Saepe constituam vix in, has et suas appareat, cu fugit decore inimicus ius. Nec id suscipit moderatius dissentiet, doming argumentum vituperatoribus quo ea.</p>
    </section>
    <section>
      <span>job 2</span>
      <span>location</span>
      <p>Lorem ipsum dolor sit amet, te meliore dissentias vis, nam putant verear appetere ex, est ex nisl consulatu. Pro verear aliquip in, pri fabellas aliquando eloquentiam an. An facete omittantur consectetuer eos, pro no affert assentior persequeris, et denique forensibus sea. Eam ut oporteat voluptaria, ei latine scripta nec, te aliquip noluisse torquatos sea. Saepe constituam vix in, has et suas appareat, cu fugit decore inimicus ius. Nec id suscipit moderatius dissentiet, doming argumentum vituperatoribus quo ea.</p>
    </section>
    <section>
      <input type="text"></input>
      <input type="text"></input>
      <input type="text"></input>
      <input type="text"></input>
      <select>
        <option>loc 1 job 1</option>
        <option>loc 2 job 2</option>
      </select>
      <input type="text"></input>
  </main>
{% endblock %}
